body{
    background-color: rgb(11, 0, 20);
    
  
}
h1{
    color: blueviolet;
    font-family: verdana;
    font-size: 50px;
    text-align: center;
    font-style: italic;

}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28;
    color: rgb(198, 98, 245);
    font-weight: 50px;
    width: 500px;
    text-align: center;
    
}
h3{
    font-size: 18px;
    font-family:verdana;
    color: aqua;

}
a{
    text-decoration: none;
    font-size: 18px;
    font-family: verdana;
    color: aqua;
}
h6{
    font-size: 18px;
    color: pink;
    font-family: arial;
    font-weight: bold;
}
div{
   
    margin: 10px 200px;
   
}
img{
    border: solid blueviolet;
}
iframe{
    border: solid blueviolet;
}
h2{
    font-size: 18px;
    font-family: verdana;
    font-weight: bold;
    font-style: italic;
    color: rgb(158, 63, 247);
}