
div{
    background-color: #740391;
    background-image: -moz-radial-gradient(div);
}
h1{
    font-kerning: 50px;
    color:#740391;
    background-color: black;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 200px;
    text-align: center;
}
p{
    font-size: 18px;
    font-family: arial;
    font-weight:40px;
    line-height: 30px;
    
}
h2{
    font-size: 30px;
    color: #740391;
    background-color: black;
    font-family: Tahoma;
}
h3{
    font-family: Arial;
    background-color: #740391 ;
    color:#ffffff;
}