body{
    background-color: rgb(187, 187, 240);
}
div{
    margin-top:5px;
    margin-bottom:150px ;
    margin-left: 150px;
    margin-right: 150px;
    border-bottom: 0.5px solid ;
}
h1{
    font-family: Georgia;
    text-align: center;
    font-size: 48px;
    border-left: 5px solid blue;

}
img{
    margin-left: 450px;
    margin-right: 250px;
    height: 250px;
}
h2{
    font-family: Georgia;
    font-weight: 10px;
    text-align: center;
    

   
   
    
}
p{
    text-align: center;
    font-family:'Segoe UI';
    font-weight: 2px;
}
a{
    background-color: rgb(5, 5, 168);
    font-family:verdana;
   margin: 10px 490px;
   text-decoration: none;
   color: rgb(169, 176, 240);
   border-radius: 30px;
   padding: 10px;
}
span{
    
    text-align: center;
}
h3{
    border-left: 5px solid blue;
    margin-right: 2px;

}